@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mansalva";
  src: url("./Mansalva-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Medium.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@layer base {
  html {
    font-family: "Roboto";
  }

  h3 {
    font-family: "Mansalva";
  }
}
